@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #1a1a1a;
  font-family: montserrat, sans-serif;
  color: white;
    
}
.banner{
  min-height: 100vh;
  color: #fafafa;
  font-family: montserrat, sans-serif;
  display: flex;
  flex-direction: column;
}
.intro{
  position: relative;
  line-height: normal;
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 3rem;
  margin-right: auto;
  margin-left: auto;
}
.view{
    align-items: center;
    margin-top: 2.4rem;
    padding: 0.8rem 4rem;
    width: 19rem;
    height: 2.8rem;
    border: 2px solid #ff4d5a;
    color: #ff4d5a;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    z-index: 999
}

.navitems{
  position: sticky;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  border-bottom: 1px solid #1a1a1a;
  background-color: rgba(40,40,40,0.95);
  box-shadow: 0 4px 4px rgba(0,0,0,0.3);
  top: 0;
  z-index: 100;
  gap: 3rem;
  padding: 0px 40px
}
.text{
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.4s ease;
  
}
.text:hover{
  color: #ff4d5a;
}
.about{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 50px;
}
.section__intro{
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 500;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.left{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  gap: 40px;
}
.about__text{
  font-size: 1.1rem;
  width: 500px;
  line-height: 1.8;
  text-align: center;
}
.right{
  position: relative;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  padding: 10px 0 10px 0;
}
.skill{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  color: black;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.img{
  position: relative;
  width: 200px;
  height: auto;
}
.content{
  border: double 3px transparent;
  background-image: linear-gradient(#1a1a1a, #1a1a1a),radial-gradient(circle at top left, #51a2e9, #ff4d5a);
  border-image-slice: 1;
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 10px;
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skills__img{
  width: 70px;
  height: auto;
  display: flex;
}
.skills__name{
  color: white;
}
.projects{
  margin-top: 100px;

}
.project-left{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
  justify-content: flex-start;
}
.image__container__left{
  display: flex;
  width: 60rem;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40rem;
  background-color: #3216bb;
  cursor: pointer;
}
.image__container__right{
  display: flex;
  width: 60rem;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 40rem;
  background-color: #3216bb;
  cursor: pointer;
}
.image__image{
  width: 85%;
  position: relative;
}
.a{
  width: 60rem;
}
.project__info {
  position: relative;
  flex-direction: column;
  bottom: 8rem;
  height: fit-content;
  padding: 1rem;
  left: -4rem;
}
.p__tag {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  position: relative;
  margin-top: 3rem;
  font-size: 1.3rem;
  font-weight: 500;
  width: 500px;
}
.project__title{
  position: relative;
  font-size: 2.2rem;
  font-weight: 500;
}
.a__projects{
  position: relative;
  display: inline-block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  text-decoration-color: transparent;
  text-decoration-color: #ff4d5a;
  text-decoration-thickness: 2px;
}
.project-right{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
  justify-content: flex-end;
}
@media screen and (max-width: 800px){
  .newdiv{
    transform: scale(0.7);
  }
  .container{
    transform: scale(0.6);
    margin-left: -200px;
  }
  .projects{
    transform: scale(0.6);
    
  }
}
@media screen and (max-width: 1500px){
  .newdiv{
    transform: scale(1);
  }
  .container{
    transform: scale(0.9);
  }
  .projects{
    transform: scale(0.8);
  }

}
.getInTouch{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 10rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  width: 65%;
  margin-top: 50px;
}
form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  width: 50%;
}
form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  background-color: #282828;
  }
textarea{
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  resize: vertical;
  min-height: 100px;
  background-color: #282828;
  }

form input[type="submit"] {
      background-color: #ff4d5a;
      color: rgb(255, 255, 255);
      border: none;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 4px;
      width: 50%;
  }
  form input[type="submit"]:hover {
      background-color: #ff4d5a;
  }
.footer{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  background-color: #282828;
}
@keyframes myAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.return{
  position: absolute;
  top: -25px;
  width: 40px;
  height: 45px;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #ff4d5a;
  animation-name: myAnimation;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.socials{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  height: auto;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}